* {
    box-sizing: border-box;
}

.container {
    margin: 30px auto;
    height: 100vh;
    max-width: 80vh;
    padding: 2% 5% 5% 10%;
    font-family: "Times New Roman";
    text-align: center;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px gray;

}

.university {
    padding-bottom:30%;
    font-weight: bold;
}


.topic :nth-child(3):before {
    content: open-quote;
}

.topic :nth-child(3):after {
    content: close-quote;
}

.topic :nth-child(3) {
    quotes: "\00ab" "\00bb";
    font-weight: bold;
}

.name {
    align-self: flex-end;
    line-height: 1vh;
    text-align: left;
}

.underline {
    border-bottom: 1px solid black;
}

@media(max-width: 500px) {
    .container {
        margin: 0 auto;
    }
    .university {
        padding-bottom:0;
    }
}