*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#heart{
    width: 100px;
    fill: gray;
}
.heard-section a:hover #heart{
    fill: blue;
}

.heard-section a:visited #heart{
    fill: red;
}

.heard-section a:visited:hover #heart{
    fill: deeppink;
}

.background-section{
    height: 500px;
    width: 90%;
    background-image: url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sun.png"), url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sky.jpg"), url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sea.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100px, 500px 250px, 500px 250px;
    background-position:  top, top, bottom;
}

input[type="checkbox"]{
position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label:before{
    position: absolute;
    content: "\f07c";
    font-family: FontAwesome;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color:#393;
    cursor: pointer;
   border: #393 solid 2px;
    padding: 3px;
    transition: .5s;
}

input[type="checkbox"]:checked + label:before{
    content: "\f07b";
    color: blue;
    border: blue solid 2px;
}

.container-header{
background: aquamarine;
 display: flex;
    flex-wrap: wrap;
}
.logo img{
    width: 70px;
    height: 70px;
}
.nav li{
    list-style: none;
}
.logo{
    flex:  1 1;
}

.search{
    flex:  3 3;
}

.cell{
    flex:  2 2;
}
nav{
    flex:  5 5;
}


