*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.heard-section, .checkbox-section{
    margin: 50px auto;
    text-align: center;
}
#heart{
    width: 100px;
    fill: gray;
}
.heard-section a:hover #heart{
    fill: blue;
}

.heard-section a:visited #heart{
    fill: red;
}

.heard-section a:visited:hover #heart{
    fill: deeppink;
}

.background-section{
    height: 500px;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sun.png"), url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sky.jpg"), url("https://raw.githubusercontent.com/AdukarIT/_Tasks_/master/assets/beach/sea.jpg");
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-size: 100px, 500px 250px, cover;
    background-position:  top, top, bottom;
}

input[type="checkbox"]{
position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label:before{
    position: absolute;
    content: "\f07c";
    font-family: FontAwesome;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color:#393;
    cursor: pointer;
   border: #393 solid 2px;
    padding: 3px;
    transition: .5s;
}

input[type="checkbox"]:checked + label:before{
    content: "\f07b";
    color: blue;
    border: blue solid 2px;
}

.container-header{
background: white;
 display: flex;
    flex-wrap: wrap;
    border-bottom: lightgray solid 1px;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 70px;
}
.nav li{
    list-style: none;
    width: 100px;
    height: 50px;

}
.nav li:hover{
    border-bottom: darkgray solid 1px;
    border-top: darkgray solid 1px;

}
.nav li a{
    text-decoration: none;
    color: dodgerblue;
   display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    flex:  1 1;
}

.search{
    flex:  3 3;
}
.search form{
    width: 100%;
    min-width: 150px;
}
.search input{
    width: 80%;
}
.search button{
    width: 15%;
}
.cell{
    flex:  2 2;
}
.cell a{
    min-width: 125px;
}
nav{
    flex:  5 5;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
}
@media (max-width: 850px) {
    .nav{
        justify-content: center;
    }
}
.cell, .search, .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

}



